#map {
    width: 1200px;
    height: 742px;
    margin-left: auto;
    margin-right: auto;
}
#controls {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
input[name=time] {
    font-size: large;
    height: 40px;
}
.marker {
    display: block;
    cursor: pointer;
    padding: 0;
    background-size: contain;
}
.caricon {
    background-image: url("caricon.png");
    width: 40px;
    height: 40px;
}
.bikeicon {
    background-image: url("bikeicon.png");
    width: 40px;
	height: 23px;
}
.popuptext {
    font-size: large;
}
#latest {
	background-image: url("subaru.png");
    width: 80px;
    height: 52.8px;
}