<!DOCTYPE HTML>
<html xmlns = "http://www.w3.org/1999/xhtml" 
	xmlns:th = "http://www.thymeleaf.org" 
	xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<!--<script>
			var x = document.cookie;
			console.log(x);
		</script>
		
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/scripts/cookies.js"></script>

		<script>
			function setWebsiteCookies() {
				var usernameL = document.getElementById("username").value;
				var passwordL = document.getElementById("password").value;
				
				setCookie("username", usernameL);
				setCookie("password", passwordL);

				window.location.replace("/map.html");
			}
			
		</script>-->

		<link href="/css/login.css" rel="stylesheet"/>
		
		<title>GotThere Login</title>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
	</head>
	<body>
		<div id="loginform">
			<p>GotThere Login</p>
			<form class="textplace" th:action="@{/login}" method="POST">
				<label for="username">Username: </label>
				<input type="text" id="username" name="username">
				<br>
				<label for="password">Password: </label>
				<input type="password" id="password" name="password">
				<br>
				<input type="submit" id="login" value="Login">
			</form>
			<div th:if = "${param.error}">ERROR</div>
		</div>

		<!--<script src="/scripts/login.js"></script>-->
	</body>
</html>