<!DOCTYPE HTML>
<html xmlns = "http://www.w3.org/1999/xhtml" 
	xmlns:th = "http://www.thymeleaf.org" 
	xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>GotThere Map</title>

		<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script src="/scripts/websocket.js"></script>

		<link href="/css/map.css" rel='stylesheet' />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div id="map"></div>

		<div id="controls">
			<label for="starttime">Start Time: </label>
			<input type="datetime-local" class="datetime" id="startdatetime" onchange="getLocationsFromDateTimes()">
			<label for="endtime">End Time: </label>
			<input type="datetime-local" class="datetime" id="enddatetime" onchange="getLocationsFromDateTimes()">
			<label for="follow">Follow: </label>
			<input type="checkbox" id="follow" name="follow">
		</div>

		<script src="/scripts/map.js"></script>
	</body>
</html>